/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2017, 3:14:56 PM
    Author     : chathuri
*/
.rowPadding{
   padding-top:6px; 
}
.valign{
    vertical-align: sub;
}
.btnsize{
       width: 100px;
}
.btntablesize{
    width: 72px;
}